extends layout

block content
    -data = data || {}

    section#intro-text
        span Simple Kitchen
        h3
            | Simple &amp; Comforting 
            br
            |             Recipes All Year Round
        p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
        //
            <p class="success">SUCCESS</p>
            <p class="error">ERROR</p>
            <p class="warning">WARNING</p>
        button.submit-buttton View Recipes

    section#intro-image
        h1 Thank you for your registration.